.sidebar{
    width: 72px;
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    background-color: white;
    z-index: 101;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 150px;
}
#home,#explore,#subs,#originals,#music,#library{
    width: 24px;
}
.sidebar-link{
    display: flex;
    flex-direction: column;
    width: 72px;
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: #e4e4e4;
}
.sidebar-text{
    font-family: 'Roboto';
    font-size: 10px;
}