.thumb-pic{
    width: 100%;
    max-height: 170px;
    min-height: 170px;
    object-fit: cover;
    object-position: bottom;
    cursor: pointer;
    transition: linear object-position 1s;
}
.thumb-pic:hover{
    object-position: top;
}
.icon{
    width: 35px;
    vertical-align: top;
}
.icon-pic{
    width: 100%;
    border-radius: 50%;
}
.description{
    vertical-align: top;
}
.title,.stats{
    font-family: "roboto";
}
.title{
    color: white;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    text-align: left;
    cursor: pointer;
    transition: linear font-size 0.2s;
}
.title:hover{
    font-size: 16px;
}
.stats{
    color: rgb(170, 170, 170);
    line-height: 20px;
    margin: 0;
}
.information{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.main-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
    
}
.video{
    max-width: 300px;
}
@media (max-width: 750px) {
    .main-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 751px) and (max-width: 999px) {
    .main-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  @media (min-width: 1000px) {
    .main-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
.thumbnail{
    width: 100%;
    position: relative;
}
.timestamp{
    position: absolute;
    right: 10px;
    bottom: 15px;
    background-color: rgba(0,0,0,0.7);
    color: white;
    border-radius: 2px;
    padding: 2px;
    height: 20px;
    display: flex;
    align-items: center;
}
.duration{
    margin: 0;
}